*{
    margin: 0px;
     font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
.nav {
    display: flex;
    justify-content: space-between;
    padding: 16px 0px;
    align-items: center;
} 

.menu {
    display: flex;
    gap: 32px;
    list-style: none;
    font: 16px;

} 

button:hover {
    background-color: #000000;
    color: white;
    cursor: pointer;
}

.btn {
font-size: 16px;
font-weight: 600;
background-color: #469165;
color:white;
padding: 12.5px 16px;
border-radius: 4px;
border: 1px solid black;
}

.hero {
    background-image: url("./assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-items: center;
    align-items: center;
    height: 675px;
}

.hero-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.hero-contents > span {
    background-color: white;
    border-radius: 20px;
    padding: 8px;
    color:#469165;
    font-weight: 600;

}

.hero-contents > h1 {
    color: white;
    font-weight: 900;
    font-size: 72px;
    line-height: 84px;
    text-align: center;

}

.hero-contents > h1 > span {
    color: #469165;
}

.hero-contents > p {
    color: white;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin-top: 16px;
}

.hero-buttons {
    margin-top: 32px;
    display: flex; 
    gap: 16px
}

.hero-buttons > button {
    padding: 16px;
}

.btn-primary {
    display: flex;
    justify-items: center;
    align-items: center;
    gap:10px; 
}

.btn-secondary {
    display: flex;
    justify-items: center;
    align-items: center;
    gap:10px; 
    background-color: transparent;
    border:1px solid white;
    color: white;
    border-radius: 4px;
}

.note-section {
    text-align: center;
    margin-top: 36px;
    margin-bottom: 36px;
}
.note-section > div > h2 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}
.note-section > div > p {
   color: #627382;
   line-height: 20px;
}

.card-section {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 24px;
    padding: 0 40px;}

.card-section .card {
    margin-top: 40px;
    box-shadow: #627382;
    background-color: white;
    padding: 60px 24px;
    border: 1px solid black;    
    filter: drop-shadow(var(#000000));
    border-radius: 8px;
}   

.card > img {
    background-color: #F95555;
    padding: 15px;
    border-radius: 100%;
    margin-bottom: 16px;
}
.card > h4 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}

.card > p {
    color: #627382
}
.knowledge-section {
    
    display: flex;
    align-items: center;
    gap: 60px;
   
}
.container {
    max-width: 1360px;
    margin: 0 auto;

}

.knowledge-section  span {
color: #469165;
text-transform: uppercase;
}

.knowledge-section h2 {
    margin: 16px 0px;
    font-weight: bold;
    font-size: 48px;
}

.knowledge-section p {
    color: #627382;
    margin-bottom: 40px;
}

.knowledge-section ul {
    list-style: none;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0;
    padding: 0;

}
.knowledge-section li {
    display: flex;
    justify-items: center;
    align-items: center;
    gap:6px;
}
.think-section {
    margin-top: 36px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #F7F6F2;
    height: 380px;
    align-items: center;

}.note {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: #6b7280; /* light gray */
}

.note .dot {
  font-size: 18px;
  line-height: 1;
}