*{
    margin: 0px;
     font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
.nav {
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
    align-items: center;
} 

.menu {
    display: flex;
    gap: 32px;
    list-style: none;
    font: 16px;

} 

.btn {
font-size: 16px;
font-weight: 600;
background-color: #30B868;
color:white;
padding: 12.5px 16px;
border-radius: 4px;
border: 1px solid black;
}

.hero {
    background-image: url("./assets/hero-bg.png");
    display: flex;
    justify-items: center;
    align-items: center;
    height: 675px;
}

.hero-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.hero-contents > span {
    background-color: white;
    border-radius: 20px;
    padding: 8px;
    color:#30B868;
    font-weight: 600;

}

.hero-contents > h1 {
    color: white;
    font-weight: 900;
    font-size: 72px;
    line-height: 84px;

}

.hero-contents > h1 > span {
    color: #30B868;
}

.hero-contents > p {
    color: white;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin-top: 16px;
}

.hero-buttons {
    margin-top: 32px;
    display: flex; 
    gap: 16px
}

.hero-buttons > button {
    padding: 16px;
}

.btn-primary {
    display: flex;
    justify-items: center;
    align-items: center;
    gap:10px; 
}

.btn-secondary {
    display: flex;
    justify-items: center;
    align-items: center;
    gap:10px; 
    background-color: transparent;
    border:1px solid white;
    color: white;
    border-radius: 4px;
}

.note-section {
    text-align: center;
    margin-top: 36px;
}
.note-section > div > h2 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}
.note-section > div > p {
   color: #627382;
   line-height: 20px;
}

.card-section {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 24px;
    margin: 0 120px;
    margin-top: 44px;
}

.card-section .card {
    box-shadow: #627382;
    background-color: white;
    padding: 60px 24px;
    border: 1px solid black;    
    filter: drop-shadow(var(#000000));
    border-radius: 8px;
}   

.card > img {
    background-color: #F95555;
    padding: 15px;
    border-radius: 100%;
    margin-bottom: 16px;
}
.card > h4 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}

.card > p {
    color: #627382
}