*{
    margin: 0px;
}
.nav {
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
    align-items: center;
} 

.menu {
    display: flex;
    gap: 32px;
    list-style: none;
    font: 16px;

} 

.btn {
font-size: 16px;
font-weight: 600;
background-color: #30B868;
color:white;
padding: 12.5px 16px;
border-radius: 4px;
border: 1px solid black;
}

.hero {
    background-image: url("./assets/hero-bg.png");
    display: flex;
    justify-items: center;
    align-items: center;
    height: 675px;
}

.hero-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.hero-contents > span {
    background-color: white;
    border-radius: 20px;
    padding: 8px;
    color:#30B868;
    font-weight: 600;

}

.hero-contents > h1 {
    color: white;
    font-weight: 900;
    font-size: 72px;
    line-height: 84px;

}

.hero-contents > h1 > span {
    color: #30B868;
}

.hero-contents > p {
    color: white;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin-top: 16px;
}

.hero-buttons {
    margin-top: 32px;
    display: flex; 
    gap: 16px
}